h1,
header p {
	text-transform: initial;
}

@media screen and (max-width: 736px) {
	#header .container {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	#header .container {
		display: inline-block;
	}

	#header .container {
		margin-left: -50%;
	}
}

